.body{

}
div{

}
.col-sm-12 img{
  padding: 0px;
  width: 100%;
  background-color : #00A3EE;
}

form{
  height: 100%;
  padding: 10px;
  float: right;
  border-left: 1px solid white;
  border-radius: 10px 0px 0px 0px;
}
.col-sm-12{
padding: 0px !important;
}
.col-sm-2{
  padding: 0px;
}
.row{
  min-height: 20px;
}
.navbar-default{
  background-color: #1084D1;
  margin-bottom: 0px;
}
.navbar-default ul li a{
  color: #ffffff !important;
  border-right: 1px solid;
  border-radius: 0px 10px 0px 0px;
}
.Buttonr2{
  padding: 10px;
  color : white;
  background-color : #337ab7;
  border-radius: 10px 10px 10px 10px;
}
h3{
  background-color:  #1084D1;
  color: #eee;
  padding: 10px;
  margin: 5px !important;
  border-radius: 5px 5px 5px 5px ;
}

.panel-heading{
  background-color: #1084D1 !important;
  text-align: center;
  margin-top: 10px;
}
.panel-primary{
  border-color: white !important;
}
